PORT=3000
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/executiveflow?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_long_random_secret_in_production
JWT_EXPIRES=7d
NODE_ENV=development
